.btn {

    display: inline-flex;
    padding: 1.2 * $spacer $spacer;
    border-radius: $border-radius;
    text-decoration: none;
    font-weight: 800;
    margin: 0.5em;
    //gap: 

    &-primary {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
    }

    &-secondary {
        color: $btn-secondary-color;
        background-color: $btn-secondary-bg;
    }

}